﻿body, input, button {
    font-family: 'Droid Sans','Helvetica Neue',Helvetica,Arial,sans-serif 
}

form label { width: 200px; float: left; }
form div { margin: 10px; }

input, option {
    padding: 5px;
}

ul li h2 {
    margin-top: 0px;
}

ul li {
    list-style-type: none;
    float: left;
    margin: 15px;
    width: 350px;
    padding: 5px;
    border:1px solid #ccc;
}

li:nth-child(2n + 1) {
    clear: left;
}

li:last-child {
    border: 4px solid green;
    text-align: center;
    height: 80px;
}