﻿@model People.Models.PersonFormModel

<h2>Add a new person</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <label>ID Number</label>
        <input type="text" id="idNumber" />
        <input type="button" id="search-button" value="Search" />
    </div>

    <div class="form-horizontal">
        <h4>PersonFormModel</h4>
        <hr />
        @Html.ValidationSummary(true, "")
        <div>
            @Html.LabelFor(model => model.IDNumber)
            <div>
                @Html.EditorFor(model => model.IDNumber)
                @Html.ValidationMessageFor(model => model.IDNumber, "")
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.FirstName)
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName, "")
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.Surname)
            <div>
                @Html.EditorFor(model => model.Surname)
                @Html.ValidationMessageFor(model => model.Surname, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.AddressLine1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.AddressLine2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.AddressSuburb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.AddressSuburb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressSuburb, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.AddressTownCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.AddressTownCity)
                @Html.ValidationMessageFor(model => model.AddressTownCity, "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AddressProvince)
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressProvince)
                @Html.ValidationMessageFor(model => model.AddressProvince, "")
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.AddressPostCode)
            <div>
                @Html.EditorFor(model => model.AddressPostCode)
                @Html.ValidationMessageFor(model => model.AddressPostCode, "")
            </div>
        </div>
        <div>
            <div>
                <input type="submit" value="Add Person" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
