﻿@model IEnumerable<People.Models.PersonFormModel>


<h3>My People</h3>

@if (Model.Count() == 0)
{
    <h4>You have not added any people to your list. <a href="/People/Create">Start adding people</a></h4>
}
else
{
    <ul>
        @foreach (var person in Model)
        {
            <li>
                <h2>@person.FirstName @person.Surname</h2>
                lives in @person.AddressProvince and has ID number @person.IDNumber
            </li>

            <li>
                <a href="/People/Create">Add some more people</a>
            </li>

        }
    </ul>
}