﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My People</title>
    
    <link rel="stylesheet" href="@Url.Content("~/Content/site.css")"  />
</head>
    <body>
        <h1>People</h1>
        <p>
            Success @ViewBag.Successes Failure @ViewBag.Failures
        </p>
        <div>
            @RenderBody()
        </div>
        
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </body>
</html>
