body {
    font-family: Arial;
   
    margin: 0 auto;
}

button {
  
    width: 25% !important;
}

.right{
    float:right;
}

#menu ul li {

}

#menu a {
    text-decoration: none;
}

nav#menu ul li.active {

}

hr {

}

section {
    padding: 20px 40px 15px 25px;
}

footer{
    padding-top:15px;
}

aside {
}

article.demo {
   
}

aside.left {

}

#Registration {
 
}

    #Registration h3 {
        
    }

.row {
    margin: 10px 5px 10px 5px;
}

.col {
    display: inline-block;
    width: 150px;
}

.picture {
  
}

.ninja {
   
}

.input {
    display: inline-table;
}
